.desert{
    position: absolute;
    background-image: url('../images/bg.png');
    width: 100%;
    height: 200px;
    animation: slideright 60s linear infinite;
}
.dino{
    background-image: url('../images/dino.png');
    height:80px;
    width:80px;
    position: absolute;
    bottom:0;
}
.obstacles{
    background-image: url('../images/cac.png');
    width:80px;
    height:80px;
    position: absolute;
    bottom:0;
}

@keyframes slideright{
    from{
        background-position: 7000%;
    }
    to{
        background-position: 0%;
    }
}